
/* otp css */

/* .App {
  font-family: sans-serif;
  text-align: center;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
} */


/* tailwind css */

@import "tailwindcss";


/* body {
  display: flex;
  justify-content: center;
  align-items: center;

}
.model-container {
  position: fixed;
  border: 2px solid ;
  padding: 5px;
  /* margin: 2rem; */
  /* text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.btn {
  border: 1px solid;
} */ 

/* pagination css */

.product-container{
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  /* flex-direction: row; */
  width: 200px;
  flex-wrap: wrap;
  border: 1px solid black;
  /* border-radius: 5px; */
  padding: 5px;
  margin: 5px;
}

.product-img {
  /* height: 100px; */
  width: 200px;
}